/.idea/aws.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/thedly.iml
/.idea/vcs.xml
/shelf/
/workspace.xml
/misc.xml
/.idea/workspace.xml
/.idea/misc.xml
